{% extends "base.html" %}

{% block metaKeywordsTitle %}Louzhu.com{% endblock %}
{% block metaKeywordsContent %}Louzhu.com{% endblock %}
{% block metaDescriptionContent %}Louzhu.com{% endblock %}


{% block page %}
	<div id="body">
		<div id="big_logo">
			<img src="/static/images/logo.png">
		</div>
	    <div id="search_form">
	    	<form action="/" method="get">
	    		<input id="main_search" type="text" name="url">
		        <input id="main_submit" type="submit" value="GO">
	    	</form>
	    </div>
	</div>
{% endblock %}