{% extends "base.html" %}

{% block metaKeywordsTitle %}网站建设日志{% endblock %}
{% block metaKeywordsContent %}优酷,优酷精选,视频,视频分享,在线视频{% endblock %}
{% block metaDescriptionContent %}网站建设日志。{% endblock %}


{% block page %}
    <!-- start content -->
    <div id="content">
    	<h2>{{ name }}</a></h2>
        {% for segment in object_list %}
            <div class="post">
                <div class="title">
                    <p><small>{{ segment.date }}  {{ author }}</small></p>
                </div>
                <div class="log_entry">                
                   {{ segment.content|linebreaks }}
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- end content -->
{% endblock %}
