{% extends "base.html" %}

{% block metaKeywordsTitle %}Louzhu.com{% endblock %}
{% block metaKeywordsContent %}Louzhu.com{% endblock %}
{% block metaDescriptionContent %}Louzhu.com{% endblock %}


{% block page %}
    <!-- start content -->
    <div id="content">
    	<h1>{{ name }}</a></h1>
    	<ul class="segments">
        {% for segment in object_list %}
            <li class="segment">
                <div class="green-banner">
                    <h4>{{ segment.date|date:"Y-m-d H:i:s" }} <a href="{{ author_url }}">{{ author }}</a><small></small></h4>
                </div>
                <p>{{ segment.content|safe }}</p>
            </li>
        {% endfor %}
    	</ul>
    	{% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
    </div>
    <!-- end content -->
{% endblock %}
